:root {
	--primary: #1E2746;
	--secondary: #F9DFD7;
	--secondary-medium: #F0AF9C;
	--secondary-darker: #B88474;
	--background: #FFF;
	--text: #333;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Avenir", "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

header .banner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--primary);
	color: var(--background);
	width: 100%;
	height: 48px;
	padding: 16px calc((100% - 1220px)/2);
}

header .banner .left {
	display: flex;
	align-items: center;
	text-transform: uppercase;
}

header .banner i{
	margin-right: 10px;
}

header .banner .left .info{
	margin-right: 24px;
}

header .banner .right {
	height: 100%;
	width: 40%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

header .banner .right .email {
	padding-right: 16px;
	color: var(--background);
	text-decoration: none;
}

header .banner .right .social {
	height: 100%;
	border-left: 1px solid #aaa;
	display: flex;
	align-items: center;
}

header .banner .right .social a {
	height: 80%;
	margin-left: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}

header .banner .right .social a img {
	height: 100%;
}

header .navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	padding: 16px calc((100% - 1220px)/2);
}

header .navigation .logo {
	height: 80%;
}

header .navigation nav {
	display: flex;
	justify-content: space-between;
	width: 40%;
}

header .navigation nav a{
	text-decoration: none;
	text-transform: uppercase;
	color: var(--text);
	font-weight: 500;
	transition: 0.2s color ease-in-out;
	position: unset;
}

header .navigation nav a:hover{
	color: var(--secondary);
}

header .navigation nav a.current{
	color: var(--secondary);
}

header .navigation nav a.with-submenu{
	position: relative;
}

header .navigation nav .with-submenu:hover .submenu{
	max-height: 500px;
	transform: translateX(-15px) translateY(20px);
}

header .navigation nav .submenu {
	position: absolute;
	display: flex;
	flex-direction: column;
	background-color: var(--text);
	max-height: 0;
	height: auto;
	overflow: hidden;
	transition: 0.3s max-height cubic-bezier(.75,.15,.83,.67), 0.3s transform cubic-bezier(.75,.15,.83,.67);
	transform: translateX(-15px) translateY(10px);
	border-radius: 4px;
}

header .navigation nav .submenu a{
	padding: 10px 15px;
	color: var(--background);
}

header .navigation nav .submenu a:hover, header .navigation nav .submenu a.current{
	color: var(--secondary);
	background-color: #666;
}

header .navigation .gradient-btn {
	padding: 16px 24px;
	background: linear-gradient(to right,  var(--secondary-medium),  var(--secondary-darker));
	color: var(--background);
	text-transform: uppercase;
	outline: none;
	border: none;
	border-radius: 4px;
	display: flex;
	align-items: center;
	font-size: 1rem;
	justify-content: space-between;
	transition: 0.2s box-shadow ease-in-out;
	font-family: "Avenir", "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

header .navigation .gradient-btn:hover {
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
	cursor: pointer;
}

header .navigation .gradient-btn:focus {
	box-shadow: 0px 1px 8px rgba(0,0,0,0.2);
}

header .navigation .gradient-btn i.fa{
	margin-right: 16px;
}

header .benefits {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	height: 85px;
	padding: 16px calc((100% - 1220px)/2);
	background-color: var(--secondary);
	color: var(--primary);
}

header .benefits .benefit {
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 1px solid #bcbec899;
}

header .benefits .benefit:first-child {
	border-left: 1px solid #bcbec899;
}

header .benefits .benefit .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	width: 20%;
}

header .benefits .benefit .desc {
	width: 56%;
	display: flex;
	flex-direction: column;
}

header .benefits .benefit .desc .upper {
	height: 50%;
	width: 100%;
	font-size: 1.3rem;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--primary);
}

header .benefits .benefit .desc .lower i{
	font-size: 1.4rem;
	margin-right: 12px;
}

footer .columns {
	padding: 100px calc((100% - 1220px)/2);
	background-color: var(--primary);
	color: var(--background);
	display: grid;
	grid-template-columns: 40% repeat(3, 1fr);
}

footer .columns .column {
	display: flex;
	flex-direction: column;
}

footer .columns .column img {
	width: 60%;
}

footer .columns .column p {
	width: 50%;
}

footer .columns .social {
	display: flex;
	align-items: center;
}

footer .columns .social a {
	width: 32px;
	padding: 8px;
	margin-right: 8px;
	background-color: var(--secondary-medium);
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s background-color ease-in-out;
}

footer .columns .social a:hover {
	background-color: var(--secondary-darker);
}

footer .columns .social a img {
	height: 100%;
}

footer .columns .column h2 {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1rem;
	position: relative;
	padding-bottom: 10px;
}

footer .columns .column h2::after {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 50px;
	height: 2px;
	background-color: var(--secondary-medium);
}

footer .columns .column.links a {
	color: white;
	text-decoration: none;
	line-height: 2;
	position: relative;
	width: max-content;
}

footer .columns .column.links a:hover {
	color: var(--secondary);
}

footer .columns .column .contact-info {
	display: flex;
	margin-bottom: 16px;
}

footer .columns .column .contact-info i {
	color: var(--secondary-medium);
	font-size: 1.6rem;
	padding-right: 16px;
	padding-bottom: 16px;
}

footer .columns .column .contact-info:nth-child(3) i {
	font-size: 1.4rem;
	padding-right: 14px;
}

footer .columns .column .contact-info a {
	text-decoration: none;
	color: white;
}

footer .copyright {
	padding: 32px;
	border-top: 1px solid #353d59;
	background-color: var(--primary);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}