.single-article{ 
    width: 100%;
    padding-bottom: 60px;
} 

.single-article h1 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.single-article *:not(img) {
    padding: 0px calc((100% - 1220px)/2);
}

.single-article > img {
    width: 1300px;
    margin: 0 calc((100% - 1300px)/2);
    height: 500px;
    object-fit: cover;
    border-radius: 4px;
}

.single-article p {
    font-family: "EB Garamond", serif;
    font-size: 1.1rem;
}

.single-article p img {
    width: 100%;
    border-radius: 4px;
}

.single-article p strong {
    padding: 0;
}

 @media (max-width: 1220px) {
     .single-article *:not(img) {
        padding: 0px 5%;
     }
     .single-article > img {
        width: 92%;
        margin: 0px 4%;
     }
}