:root {
    --animation-delay: 0.1s;
    --animation-stagger: 0.1s;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(0px);
    }
    to {
        opacity: 1;
        transform: translateY(-10px);
    }   
}

.blog{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 32px;    
    padding: 60px calc((100% - 1220px)/2) 120px;
    text-decoration: none;
} 

.article {
    text-decoration: none;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    opacity: 0;
    column-gap: 32px;
    row-gap: 8px;
    transform: translateY(-20px);
    height: auto;
    padding: 16px;
    border-radius: 4px;
    background-color: aliceblue;
    color: black;
    animation: appear 0.8s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
 }

 .article:hover{
    background-color: #f5f5f5;
 }

 .article:nth-child(4n+1) { 
     width: 100%;
     display: grid;
     grid-column: 1/-1;
     grid-template-columns: 1fr 450px;
     column-gap: 32px;
 }

 .article .article-image {
     width: 100%;
 }

 .article .article-image img {
     height: 380px;
     width: 100%;
     border-radius: 4px;
     object-fit: cover;
 }

.article .article-info h6 { 
    margin-top: 0;
    margin-bottom: 8px;
    color: var(--primary-lighter);
}

 .article .article-info h2 { 
    margin-top: 0;
    margin-bottom: 0px;
    color: black;
}

.article .article-info p { 
    margin-top: 0;
    color: black;
    line-height: 1.5;
    font-weight: lighter;
}


@media (max-width: 1220px) {
    .blog {
        padding: 60px 5%;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 550px) {
    .blog {
        grid-template-columns: 100%;
    }

    .blog .article:nth-child(4n+1) {
        text-decoration: none;
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-auto-rows: auto;
        opacity: 0;
        column-gap: 32px;
        row-gap: 8px;
        transform: translateY(-20px);
        height: auto;
        padding: 16px;
        border-radius: 4px;
        background-color: aliceblue;
        color: black;
        animation: appear 0.8s cubic-bezier(0.4, 0.0, 0.2, 1) forwards; 
    }

    .blog .article img {
        height: 250px;
    }
}

 
