header .banner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--primary);
	color: var(--background);
	width: 100%;
	height: 48px;
	padding: 16px calc((100% - 1220px)/2);
}

header .banner .left {
	display: flex;
	align-items: center;
	text-transform: uppercase;
}

header .banner i{
	margin-right: 10px;
}

header .banner .left .info{
	margin-right: 24px;
}

header .banner .right {
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

header .banner .right .email {
	padding-right: 16px;
	color: var(--background);
	text-decoration: none;
}

header .banner .right .social {
	height: 100%;
	border-left: 1px solid #aaa;
	display: flex;
	align-items: center;
}

header .banner .right .social a {
	height: 80%;
	margin-left: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}

header .banner .right .social a img {
	height: 100%;
}

header .navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	padding: 16px calc((100% - 1220px)/2);
}

header .navigation .logo {
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

header .navigation .logo img {
	height: 100%;
	width: 180px;
	object-fit: contain;
	margin-top: 4px;
}

header .navigation nav.header-menu {
	display: flex;
	justify-content: space-between;
	width: 50%;
}

header .navigation nav.header-menu a{
	text-decoration: none;
	text-transform: uppercase;
	color: var(--text);
	font-weight: 500;
	transition: 0.2s color, 0.2s background-color;
	position: unset;
	padding: 8px 16px;
	border-radius: 4px;
}

header .navigation nav.header-menu a:hover{
	background-color: #d2d4da;
}

header .navigation nav.header-menu a.current{
	background-color: var(--primary);
	color: var(--secondary);
}

header .navigation nav.header-menu .with-submenu{
	margin-top: 8px;
}

header .navigation nav.header-menu .with-submenu:hover .submenu{
	max-height: 500px;
	transform: translateY(20px);
	z-index: 2;
}

header .navigation nav.header-menu .submenu {
	position: absolute;
	display: flex;
	flex-direction: column;
	background-color: var(--text);
	max-height: 0;
	height: auto;
	overflow: hidden;
	transition: 0.3s max-height cubic-bezier(.75,.15,.83,.67), 0.3s transform cubic-bezier(.75,.15,.83,.67);
	transform: translateY(10px);
	border-radius: 4px;
}

header .navigation nav.header-menu .submenu a{
	padding: 10px 15px;
	color: var(--background);
}

header .navigation nav.header-menu .submenu a:hover, header .navigation nav.header-menu .submenu a.current{
	color: var(--secondary);
	background-color: #666;
}

header .navigation a {
	text-decoration: none;
}

header .navigation i.fas.fa-bars {
	font-size: 2rem;
	color: var(--primary);
	display: none;
	position: absolute;
	right: 5%;
}

header .benefits {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	height: 85px;
	padding: 16px calc((100% - 1220px)/2);
	background-color: var(--secondary);
	color: var(--primary);
}

header .benefits .benefit {
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 1px solid #bcbec899;
}

header .benefits .benefit:first-child {
	border-left: 1px solid #bcbec899;
}

header .benefits .benefit .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	width: 20%;
}

header .benefits .benefit .desc {
	width: 56%;
	display: flex;
	flex-direction: column;
}

header .benefits .benefit .desc .upper {
	height: 50%;
	width: 100%;
	font-size: 1.3rem;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--primary);
}

header .benefits .benefit .desc .lower i{
	font-size: 1.4rem;
	margin-right: 12px;
}

@media (max-width: 1260px){
	header .banner {
		padding: 16px 5%;
	}
	header .navigation {
		padding: 16px 5%;
	}
}

@media (max-width: 1150px){
	header .banner {
		flex-direction: column;
		height: 80px;
	}

	header .banner .right {
		height: 48px;
		padding: 16px 0;
	}
}

@media (max-width: 1000px){
	header .benefits{
		padding: 0 5%;
	}

	header .benefits .benefit, header .benefits .benefit:first-child  {
		border: none;
	}

	header .benefits .benefit .icon{
		display: none;
	}
	header .benefits .benefit .desc{
		width: 100%;
		padding-right: 2rem;
	}

	header .benefits .benefit .upper, header .benefits .benefit .lower{
		white-space: nowrap;
	}
}

@media (max-width: 1135px){
	header .navigation nav.header-menu {
		display: none;
	}

	header .navigation {
		margin-right: 2.5rem;
	}	

	header .navigation i.fas.fa-bars {
		display: inline-block;
	}
}

@media (max-width: 760px){
	header .banner .left .info {
		white-space: nowrap;
		font-size: 0.9rem;
	}
}

@media (max-width: 640px){
	header .banner {
		height: auto;
		flex-direction: column;
		align-items: flex-start;
	}
	header .banner .left {
		flex-wrap: wrap;
	}

	header .banner .right {
		flex-direction: column;
		align-items: flex-start;
		margin-left: 0;
		padding-top: 0;
		padding-bottom: 0;
		width: 100%;
	}

	header .banner .right .social {
		border-left: none;
		height: 28px;
		display: flex;
		align-items: center;
		width: 100%;
		padding-top: 8px;
	}

	header .banner .right .social a:first-child {
		margin-left: 0;
	}

	header .benefits {
		display: flex;
		flex-direction: column;
		height: auto;
	}

	header .benefits .benefit .desc {
		flex-direction: row;
		align-items: center;
		padding: 8px 0;
		border-bottom: 1px solid #bcbec899;
	}

	header .benefits .benefit .desc .upper {
		font-size: 1.1rem;
	}
}

@media (max-width: 500px){
	header .navigation .gradient-btn {
		display: none;
	}
}

@media (max-width: 400px){
	header .benefits .benefit .desc .upper {
		font-size: 1rem;
	}
}