header .banner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--primary);
	color: var(--background);
	width: 100%;
	height: 48px;
	padding: 16px calc((100% - 1220px)/2);
}

header .banner .left {
	display: flex;
	align-items: center;
	text-transform: uppercase;
}

header .banner i{
	margin-right: 10px;
}

header .banner .left .info{
	margin-right: 24px;
}

header .banner .right {
	height: 100%;
	width: 40%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

header .banner .right .email {
	padding-right: 16px;
	color: var(--background);
	text-decoration: none;
}

header .banner .right .social {
	height: 100%;
	border-left: 1px solid #aaa;
	display: flex;
	align-items: center;
}

header .banner .right .social a {
	height: 80%;
	margin-left: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}

header .banner .right .social a img {
	height: 100%;
}

header .navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	padding: 16px calc((100% - 1220px)/2);
}

header .navigation .logo {
	height: 80%;
}

header .navigation nav {
	display: flex;
	justify-content: space-between;
	width: 40%;
}

header .navigation nav a{
	text-decoration: none;
	text-transform: uppercase;
	color: var(--text);
	font-weight: 500;
	transition: 0.2s color ease-in-out;
	position: unset;
}

header .navigation nav a:hover{
	color: var(--secondary);
}

header .navigation nav a.current{
	color: var(--secondary);
}

header .navigation nav a.with-submenu{
	position: relative;
}

header .navigation nav .with-submenu:hover .submenu{
	max-height: 500px;
	transform: translateX(-15px) translateY(20px);
}

header .navigation nav .submenu {
	position: absolute;
	display: flex;
	flex-direction: column;
	background-color: var(--text);
	max-height: 0;
	height: auto;
	overflow: hidden;
	transition: 0.3s max-height cubic-bezier(.75,.15,.83,.67), 0.3s transform cubic-bezier(.75,.15,.83,.67);
	transform: translateX(-15px) translateY(10px);
	border-radius: 4px;
}

header .navigation nav .submenu a{
	padding: 10px 15px;
	color: var(--background);
}

header .navigation nav .submenu a:hover, header .navigation nav .submenu a.current{
	color: var(--secondary);
	background-color: #666;
}

header .benefits {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	height: 85px;
	padding: 16px calc((100% - 1220px)/2);
	background-color: var(--secondary);
	color: var(--primary);
}

header .benefits .benefit {
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 1px solid #bcbec899;
}

header .benefits .benefit:first-child {
	border-left: 1px solid #bcbec899;
}

header .benefits .benefit .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	width: 20%;
}

header .benefits .benefit .desc {
	width: 56%;
	display: flex;
	flex-direction: column;
}

header .benefits .benefit .desc .upper {
	height: 50%;
	width: 100%;
	font-size: 1.3rem;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--primary);
}

header .benefits .benefit .desc .lower i{
	font-size: 1.4rem;
	margin-right: 12px;
}