.privacy {
    padding: 60px calc((100% - 1220px)/2);
}

@media (max-width: 1260px){
    .privacy {
        padding: 60px 5%;
    }
}

@media (max-width: 750px){
    .privacy {
        flex-direction: column-reverse;
    }
}