@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(0px);
    }
    to {
        opacity: 1;
        transform: translateY(-10px);
    }   
}

.single-project{ 
    padding: 60px calc((100% - 1220px)/2);
} 

.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 16px;
    margin-top: 64px;
 }

 .images picture img {
     height: 350px;
     width: 100%;
     object-fit: cover;
     border-radius: 4px;
     opacity: 0;
     transform: translateY(-20px);
     animation: appear 0.8s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
 }

 @media (max-width: 1220px) {
     .single-project {
        padding: 60px 5%;
     }

    .images {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 800px) {
    .images {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    .images {
        grid-template-columns: 100%;
    }
}