
.testimonials {
    width: 500px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    border-radius: 4px;
    height: 350px;
}

.testimonials amp-carousel .amp-carousel-button {
    background-color: var(--primary);
    border-radius: 50%;
    opacity: 0.5;
    transition: 0.2s opacity ease-in-out;
}

.testimonials amp-carousel .amp-carousel-button:hover {
    opacity: 1;
    cursor: pointer;
}

.testimonials .single {
    background-color: white;
    padding: 40px;
}

 .testimonials .single h3 {
    font-size: 1.3rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 0;
}

 .testimonials .single p {
    font-size: 0.9rem;
    color: #666;
}

 .testimonials .single .location {
    color: #999;
    font-size: 0.8rem;
    margin-bottom: 16px;
}

 .testimonials .single .rating i{
    color: #FADB15;
}

@media (max-width: 1260px) {
    .testimonials {
        width: auto;
    }
}