.hero{
    background-size: cover;
    background-position: 30%;
    background-repeat: no-repeat;
    padding: 0px calc((100% - 1220px)/2);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

.hero .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0005;
    z-index: 0;
}

.hero .content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1;
}

.hero .content h3 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 0;
    text-align: center;
}

.hero .content h1 {
    font-size: 4rem;
    text-align: center;
    line-height: 1;
    margin-top: 0;
}

.hero .content a {
    text-decoration: none;
}

.hero a {
    color: white;
}

.services {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.services a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 50px;
    text-align: center;
    transform: scale(1);
    transition: 0.2s transform ease-in-out;
    z-index: 1;
}

.services a:hover {
    transform: scale(1.05);
    z-index: 2;
}

.services a:nth-child(odd) {
    background-color: var(--primary);
    color: var(--secondary-medium);
}

.services a:nth-child(even) {
    background-color: var(--secondary-medium);
    color: var(--primary);
}

.services a img {
    height: 100px;
    width: 100px;
}


.services a h3 {
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
}

.testimonials-contact {
    display: flex;
    padding: 60px calc((100% - 1220px)/2);
}

.testimonials-contact .testimonials-section {
    width: 50%;
}

.testimonials-contact .testimonials-section .h6 {
   font-size: 1rem;
    font-weight: normal;
    margin-bottom: 0;
    color: var(--primary);
    padding-top: 24px;
}

.testimonials-contact .testimonials-section h3 {
    font-size: 2rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 64px;
}

.testimonials-contact .contact-section {
    width: 50%;
    padding: 60px;
    background-color: var(--secondary-medium);
    border-radius: 4px;
}

.testimonials-contact .contact-section h3 {
    font-size: 1.7rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}

.testimonials-contact .contact-section p {
    color: var(--primary);
    width: 80%;
}

.towns {
    padding: 60px calc((100% - 1220px)/2);
    background-color: var(--secondary);
}

.towns .h6 {
   font-size: 1rem;
   color: var(--primary);
   margin: 0;
   font-weight: normal;
}

.towns h5 {
    font-size: 2.3rem;
    margin: 0 0 30px 0;
}

.towns .services {
    display: flex;
    flex-direction: column;
    height: 350px;
    overflow-y: scroll;
}

.towns .services .county p {
    text-transform: uppercase;
}

.towns .services .county .cities {
    display: flex;
    flex-wrap: wrap;
}

.towns .services .county .cities ul {
    padding-left: 0;
    width: 300px;
    list-style-type: none;
}

.towns .services .county .cities ul li {
    line-height: 1.5;
}

.discounts {
    padding: 60px calc((100% - 1220px)/2);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 8px;
    background-color: #bcbec8;
}

.discounts img{
   width: 100%;
   aspect-ratio: 1.53/1 !important;
}

@media (max-width: 1260px){
    .testimonials-contact, .towns, .discounts {
        padding: 60px 5%;
    }

    .testimonials-contact .testimonials-section {
        padding-right: 30px;
    }

    .services {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
}

@media (max-width: 1000px){
    .testimonials-contact {
        flex-direction: column-reverse;
    }

    .testimonials-contact .testimonials-section {
        width: 100%;
        padding-right: 0;
    }

    .testimonials-contact .contact-section {
        width: 100%;
    }

    .testimonials-contact .testimonials-section h3{
        margin-bottom: 16px;
    }
}

@media (max-width: 960px){

 

    .hero .content h1{
       font-size: 3rem;
    }

    .hero .content .gradient-btn{
        width: 400px;
    }
}

@media (max-width: 900px){
    .discounts {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        row-gap: 8px;
    }
}

@media (max-width: 720px){
    .hero .content h1{
       font-size: 2.3rem;
    }
}


@media (max-width: 700px){
    .testimonials-contact .testimonials-section{
        margin-top: 32px;
    }

    .services {
        grid-template-columns: repeat(2, 1fr);
    }

    .services a:nth-child(4) {
        background-color: var(--primary);
        color: var(--secondary-medium);
    }
    
    .services a:nth-child(3) {
        background-color: var(--secondary-medium);
        color: var(--primary);
    }
}

@media (max-width: 666px){
    .hero .content h1{
       font-size: 2rem;
    }
}


@media (max-width: 500px){
    .services {
        grid-template-columns: 100%;
    }

    .services a:nth-child(3) {
        background-color: var(--primary);
        color: var(--secondary-medium);
    }
    
    .services a:nth-child(4) {
        background-color: var(--secondary-medium);
        color: var(--primary);
    }
    .discounts {
        grid-template-columns: 100%;
    }
}

@media (max-width: 420px){

    .hero .content h1 {
        width: 100%;
    }

    .hero .content .gradient-btn {
        width: 280px;
    }

    .hero .content .gradient-btn i {
       display: none;
    }
}
