.hero{
    background: url("/_includes/assets/images/heads/roofing.jpg");
    background-size: cover;
    background-position: 30%;
    padding: 0px calc((100% - 1220px)/2);
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

.hero .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0002;
    z-index: 0;
}

.hero .content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1;
}

.hero .content h3 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 0;
}

.hero .content h1 {
    font-size: 4rem;
    text-align: center;
    line-height: 1;
    margin-top: 0;
}

.hero a {
    color: white;
}

.services {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.services a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 50px;
    text-align: center;
    transform: scale(1);
    transition: 0.2s transform ease-in-out;
    z-index: 1;
}

.services a:hover {
    transform: scale(1.05);
    z-index: 2;
}

.services a:nth-child(odd) {
    background-color: var(--primary);
    color: var(--secondary-medium);
}

.services a:nth-child(even) {
    background-color: var(--secondary-medium);
    color: var(--primary);
}

.services a h3 {
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
}

.testimonials-contact {
    display: flex;
    padding: 60px calc((100% - 1220px)/2);
}

.testimonials-contact .testimonials-section {
    width: 50%;
}

.testimonials-contact .testimonials-section h6 {
   font-size: 1rem;
    font-weight: normal;
    margin-bottom: 0;
    color: var(--secondary-medium);
}

.testimonials-contact .testimonials-section h3 {
    font-size: 2rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 64px;
}

.testimonials-contact .contact-section {
    width: 50%;
    padding: 60px;
    background-color: var(--secondary-medium);
}

.testimonials-contact .contact-section h3 {
    font-size: 1.7rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}

.testimonials-contact .contact-section p {
    color: white;
    width: 80%;
}