.page {
    padding: 60px calc((100% - 1220px)/2);
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 32px;
}

.page .sider {
    display: flex;
    flex-direction: column;
}

.page .sider a {
    background-color: var(--secondary);
    color: var(--primary);
    padding: 16px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid #bcbec8;
    border-left: 1px solid #bcbec8;
    border-right: 1px solid #bcbec8;
    transition: 0.2s background-color ease-in-out;
}

.page .sider a.active, .page .sider a.active:hover {
    color: var(--secondary);
    background-color: var(--primary);
}

.page .sider a:hover {
    background-color: var(--secondary-medium);
}

.page .sider a:first-child {
    border-top: 1px solid #bcbec8;
}

.page .body img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    background-position: 50%;
}