<footer>
  <div class="columns">
    {% set pages = menus %}
    <div class="column">
      {% img logos.footer_logo, "footer-logo", "Logo", "414px, 1260px", [320, 720] %}
      <p>A family owned and operated business, proudly serving its customers with integrity and attention to details.</p>
      {% include "components/social.njk" %}
    </div>
    <div class="column links">
      <h2>Our services</h2>
        {% for service in pages[2].children %}
          <a href="{{service.route | url}}" {% if service.route == page.url %} class="current" {% endif %}>{{ service.name }}</a>
        {% endfor %}
    </div>
    <div class="column links">
      <h2>Quick links</h2>
      {% for p in pages %}
        <a href="{{p.route | url}}" {% if p.route == page.url %} class="current" {% endif %}>{{ p.name }}</a>
      {% endfor %}
    </div>
    <div class="column">
      <h2>Get in touch</h2>
        <div class="contact-info">
          <i class="fa fa-map-marker-alt"></i>
          520 Cliff St, Unit 409, Fairview, NJ 07022
        </div>
        <div class="contact-info">
          <i class="fa fa-phone"></i>
          <a href="tel: +12016735638">+1 (201) 673-5638</a>
        </div>
        <div class="contact-info">
          <i class="fa fa-envelope"></i>
          <a href="mailto: info@thegreatconstruction.com">info@thegreatconstruction.com</a>
        </div>
    </div>
  </div>
  
  <div class="copyright">
   <div class="useful-links">
    <a href="/privacy-policy/">Privacy policy</a>
  </div>
    &copy; 2021 - present: The Great Construction Company
  </div>
</footer>