<form name="contact" action="/thank-you/" method="POST" data-netlify="true">
  <input type="text" name="name" id="name" autocomplete="name" placeholder="Your name" title="Please enter your name">
  <input type="email" name="email" id="email" autocomplete="email" placeholder="Your email address" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$">
  <input type="text" name="phone" id="phone" autocomplete="phone" pattern="[0-9]*" inputmode="numeric" placeholder="Phone number" title="Please enter your phone number">
  <input type="text" name="city" id="city" autocomplete="city" placeholder="Your city" title="Please enter your city">
  <select name="service" id="service">
    {% for service in menus[2].children %}
    <option value="{{service.name}}">{{service.name}}</option>
    {% endfor %}
  </select>
  <button type="submit"><i class="fa fa-arrow-right"></i>Send Request</button>
</form>
