<div class="heads">
    <amp-carousel height="350" layout="fixed-height" type="slides" role="region" aria-label="What clients say about us">
    {% set heads = collections.head %}
    {% for head in heads %}
    {% set t = head.data %}
        <div class="single">
            <h3>{{t.service}}</h3>
            <p>{{t.description}}</p>
            <div class="name">{{t.name}}</div>
            <div class="location">{{t.location}}</div>
            <div class="rating">
                {% set rating = t.rating %}
                {% set whole = rating - rating%1 %}
                {% set half = 1 if rating%1 else 0 %}
                {% set emptied = 5 - whole - half %}
                {% for i in range(0, whole) %}
                    <i class="fas fa-star"></i>
                {% endfor %}
                {% if half == 1 %}
                    <i class="fas fa-star-half-alt"></i>
                {% endif %}
                {% for i in range(0, emptied) %}
                    <i class="far fa-star"></i>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </amp-carousel>
</div>