<div class="heads">
    <amp-carousel type="slides" delay="10" role="region" aria-label="What clients say about us">
    {% set heads = collections.head %}
    {% for head in heads %}
    {% set h = head.data %}
        <div class="hero">
            <div class="overlay"></div>
            <div class="content">
                <h3>{{ h.subtitle }}</h3>
                <h1>{{ h.title }}</h1>
                <a href="{{ h.path }}"><button class="gradient-btn">
                    <i class="fa fa-arrow-right"></i> {{ h.linktext }}
                </button></a>
            </div>
        </div>
    {% endfor %}
    </amp-carousel>
</div>