<head>
  <!-- accept unicode -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-P893TSJ');</script>
  <!-- End Google Tag Manager -->
  <!-- Global site tag (gtag.js) - Google Ads: 390506459 -->
  <script defer src="https://www.googletagmanager.com/gtag/js?id=AW-390506459"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script defer src="https://www.googletagmanager.com/gtag/js?id=G-SWD87628D2"></script>
  <script defer>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'AW-390506459');
  gtag('config', 'G-SWD87628D2');
  </script>
  <title>{{ renderData.title or title or metadata.title }}</title>
  <meta name="description" content="{{ metaDescription or renderData.metaDescription or metadata.description }}">
  {% metagen
      title="New Jersey Roofing Contractorss",
      url="https://thegreatconstruction.com",
      img="assets/images/heads/roofing.jpg",
      img_alt="The Great Construction Van",
      name="Edlir Velaj"
  %}
  <meta name="name" content="The Great Construction Company">
  {% if ignore %}
    <meta name="robots" content="noindex"/>
  {% endif %}
  <script defer src="https://cdn.ampproject.org/v0.js"></script>
  <script defer custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.2.js"></script>
  <script defer custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% set css %}
    {% include "assets/css/layouts/base.css" %}
    {% include "assets/css/common.css" %}
    {% include "assets/css/components/mobilemenu.css" %}
    {% include "assets/css/layouts/home.css" %}
    {% include "assets/css/layouts/page.css" %}
    {% include "assets/css/components/header.css" %}
    {% include "assets/css/components/testimonials.css" %}
    {% include "assets/css/components/servicelist.css" %}
    {% include "assets/css/components/form.css" %}
    {% include "assets/css/components/footer.css" %}
    {% include "assets/css/components/projects.css" %}
    {% include "assets/css/components/project.css" %}
    {% include "assets/css/components/blog.css" %}
    {% include "assets/css/components/article.css" %}
    {% include "assets/css/components/contact.css" %}
    {% include "assets/css/components/about.css" %}
    {% include "assets/css/components/thank-you.css" %}
    {% include "assets/css/components/privacy.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
</head>
