<header>
    <div class="banner">
        <div class="left">
            <div class="info">
                {% include "assets/icons/users-solid.njk" %} Family owned and operated
            </div>
            <div class="info">
                {% include "assets/icons/clock-solid.njk" %} Available 24/7
            </div>
            <div class="info">
                {% include "assets/icons/calendar-day-solid.njk" %} Same day service
            </div>
        </div>
        <div class="right">
            <a class="email" href="mailto:info@thegreatconstruction.com">
                {% include "assets/icons/envelope-solid.njk" %} info@thegreatconstruction.com
            </a>
            {% include "components/social.njk" %}
        </div>
    </div>
    <div class="navigation">
        <a href="/" class="logo" aria-label="Go to the main page">
            {% img logos.main_logo, "header-logo", "Logo", "", [720] %}
        </a>
        {% include "components/nav.njk" %}
        <div class="button-and-bars">
            <a href="/contact" aria-label="Go to the contact section"><button class="gradient-btn">{% include "assets/icons/arrow-right-solid.njk" %} Free estimate</button></a>
            <svg on="tap:sidebar.open" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg>
        </div>
    </div>
    <div class="benefits">
        <div class="benefit">
            <div class="icon">
                {% include "assets/icons/id-badge-solid.njk" %}
            </div>
            <div class="desc">
                <div class="upper">Fully licensed</div>
                <div class="lower">License #: 13VH11323800</div>
            </div>
        </div>
        <div class="benefit">
            <div class="icon">
                {% include "assets/icons/phone-solid.njk" %}
            </div>
            <div class="desc">
                <a class="upper" href="tel:+1 (201) 673-5638">+1 (201) 673-5638</a>
                <div class="lower">Call us or a free estimate</div>
            </div>
        </div>
        <div class="benefit">
            <div class="icon">
                {% include "assets/icons/credit-card-regular.njk" %}
            </div>
            <div class="desc">
                <div class="upper">We accept</div>
                <div class="lower">
                    {% include "assets/icons/cc-visa-brands.njk" %}
                    {% include "assets/icons/cc-mastercard-brands.njk" %}
                    {% include "assets/icons/cc-amex-brands.njk" %}
                    {% include "assets/icons/cc-paypal-brands.njk" %}
                </div>
            </div>
        </div>
    </div>
</header>