<div class="heads">
    <amp-carousel layout="fixed-height" height="720" type="slides" delay="8000" autoplay role="region" aria-label="Page head">
    {% set heads = collections.head %}
    {% for head in heads %}
    {% set h = head.data %}
        <div class="hero" style="background-image: url('{{ h.image }}')">
            <div class="overlay"></div>
            <div class="content">
                <h3>{{ h.subtitle }}</h3>
                <h1>{{ h.title }}</h1>
                <a href="{{ h.path }}"><button class="gradient-btn">
                    {% include "assets/icons/arrow-right-solid.njk" %} {{ h.linktext }}
                </button></a>
            </div>
        </div>
    {% endfor %}
    </amp-carousel>
</div>