{% macro pageTitle(name) %}
    <div class="hero" style="height: 360px">
        {% img "static/img/roofing.jpg", "about-image", "Our truck", "414px 1260px", [500, 1200] %}
        <div class="overlay"></div>
        <div class="content">
            <h1>{{name}}</h1>
        </div>
    </div>
{% endmacro %}