{% macro pageTitle(name) %}
    <div class="hero" style="height: 360px; background-image: url('/static/img/roofing.jpg');">
        <div class="overlay"></div>
        <div class="content">
            <h1>{{name}}</h1>
        </div>
    </div>
{% endmacro %}