<div class="social">
    <a href="https://www.facebook.com/TheGreatConstructionCompany" target="_blank" rel="noopener noreceiver" title="Facebook"><img height="16" width="16" src="{{social.facebook | relative}}" alt="facebook icon" /></a>
    <a href="https://www.instagram.com/thegreatconstruction/" target="_blank" rel="noopener noreceiver" title="Instagram"><img height="16" width="16" src="{{social.instagram | relative}}" alt="instagram icon" /></a>
    <a href="https://www.homeadvisor.com/rated.TheGreatConstruction.112180048.html" target="_blank" rel="noopener noreceiver" title="Homeadvisor"><img height="16" width="16" src="{{social.homeadvisor | relative}}" alt="homeadvisor icon" /></a>
</div>