<div class="social">
    <a href="https://www.facebook.com/TheGreatConstructionCompany" target="_blank" rel="noopener noreceiver" title="Facebook" aria-label="Go to our facebook page"><img height="20" width="20" src="{{social.facebook | relative}}" alt="facebook icon" /></a>
    <a href="https://www.instagram.com/thegreatconstruction/" target="_blank" rel="noopener noreceiver" title="Instagram" aria-label="Go to our instagram page"><img height="20" width="20" src="{{social.instagram | relative}}" alt="instagram icon" /></a>
    <a href="https://www.homeadvisor.com/rated.TheGreatConstruction.112180048.html" target="_blank" rel="noopener noreceiver" title="Homeadvisor" aria-label="Go to our homeadvisor page"><img height="20" width="20" src="{{social.homeadvisor | relative}}" alt="homeadvisor icon" /></a>
</div>