<div class="testimonials">
    <amp-carousel height="350" layout="fixed-height" type="slides" role="region" aria-label="What clients say about us">
    {% set testimonials = collections.testimonial %}
    {% for testimonial in testimonials %}
    {% set t = testimonial.data %}
        <div class="single">
            <h3>{{t.service}}</h3>
            <p>{{t.description}}</p>
            <div class="name">{{t.name}}</div>
            <div class="location">{{t.location}}</div>
            <div class="rating">
                {% set rating = t.rating %}
                {% set whole = rating - rating%1 %}
                {% set half = 1 if rating%1 else 0 %}
                {% set emptied = 5 - whole - half %}
                {% for i in range(0, whole) %}
                    {% include "assets/icons/star-solid.njk" %}
                {% endfor %}
                {% if half == 1 %}
                    {% include "assets/icons/star-half-alt-solid.njk" %}
                {% endif %}
                {% for i in range(0, emptied) %}
                    {% include "assets/icons/star-solid.njk" %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </amp-carousel>
</div>