---
layout: layouts/base.njk
section: about
---

{% from "components/pagetitle.njk" import pageTitle %}

{{pageTitle("About")}}

<div class="about" id="content">
    <div class="images">
        {% img "static/img/siding.jpg", "about-image", "Our stuff doing a siding", "414px 1260px", [500, 720] %}
        {% img "static/img/gutter.jpg", "about-image", "Our stuff doing gutter work", "414px 1260px", [500, 720] %}
        {% img "static/img/roofing.jpg", "about-image", "The Great Construction Company van", "414px 1260px", [500, 720] %}
    </div>
    <div class="description">
        <h3>About The Great Company</h3>
        <p>The Great Construction Company, what started as a side business for two brothers, has become a full-fledged company, providing residential and commercial customers with a wide range of services from Roofing to Chimney, Gutters, Siding, Masonry and a lot more. The Great Company is fully licensed and insured. A family owned and operated business, proudly serves it’s customers  with pride, integrity and attention to details that matter the most to our customers.
We offer Free Estimates 24/7 and same day service for expert repairs on Roofing, Chimney, Gutters, Siding and Masonry. Give us a call today!
</p>
    </div>
</div>