---
layout: layouts/base.njk
section: about
---

{% from "components/pagetitle.njk" import pageTitle %}

{{pageTitle("About")}}

<div class="about" id="content">
    <div class="images">
        <img src="../_includes/assets/images/heads/roofing.jpg" alt="The Great Construction Company van">
        <img src="../_includes/assets/images/heads/gutter.jpg" alt="The Great Construction Company van">
        <img src="../_includes/assets/images/heads/sidewalk.jpg" alt="The Great Construction Company van">
    </div>
    <div class="description">
        <h3>About The Great Company</h3>
        <p>The Great Construction Company, what started as a side business for two brothers, has become a full-fledged company, providing residential and commercial customers with a wide range of services from Roofing to Chimney, Gutters, Siding, Masonry and a lot more. The Great Company is fully licensed and insured. A family owned and operated business, proudly serves it’s customers  with pride, integrity and attention to details that matter the most to our customers.
We offer Free Estimates 24/7 and same day service for expert repairs on Roofing, Chimney, Gutters, Siding and Masonry. Give us a call today!
</p>
    </div>
</div>