<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P893TSJ"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		{% include "components/header.njk" %}
		{% include "components/mobilemenu.njk" %}

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

		<script type="text/javascript">
			const content = document.getElementById("content");
			if (content) {
				const y = content.getBoundingClientRect().top + window.pageYOffset -520;
				window.scrollTo({top: y});
			}
		</script>

	</body>

</html>
