---
layout: layouts/base.njk
section: contact
---

{% from "components/pagetitle.njk" import pageTitle %}

{{pageTitle("Contact")}}

<div class="contacts" id="content">
    <div class="contact-info">
        <h2>Get in touch</h2>
        <div class="info">
          {% include "assets/icons/map-marker-alt-solid.njk" %}
          520 Cliff St, Unit 409, Fairview, NJ 07022
        </div>
        <div class="info">
          {% include "assets/icons/phone-solid.njk" %}
          <a href="tel: +12016735638" aria-label="Initiate a call to this number">+1 (201) 673-5638</a>
        </div>
        <div class="info">
          {% include "assets/icons/envelope-solid.njk" %}
          <a href="mailto: info@thegreatconstruction.com" aria-label="Initiate an email correspondence with the contact email of The Great Construction Company">info@thegreatconstruction.com</a>
        </div>
    </div>
    <div class="contact-form">
        <h3>Got a project in mind? <br /><strong>Get a free estimate!</strong></h3>
        <p>Send us as many details as possible, so our estimate can be more accurate.</p>
        {% include "components/form.njk" %}
    </div>
</div>
<iframe
  src='https://api.mapbox.com/styles/v1/mapbox/streets-v11.html?zoomwheel=false&access_token=pk.eyJ1IjoiZWRsaXJ2IiwiYSI6ImNrbDZsa3A0cjB6NTgyb3A2M3Z3aHkwYjgifQ.qw-CzpSVrcynr9NtpdUtJg#16/40.820732/-74.001406' width='100%' height='400px'>
</iframe> 
