---
layout: layouts/base.njk
section: home
permalink: /
---

<div class="hero">
    <div class="overlay"></div>
    <div class="content">
        <h3>We do it the right way</h3>
        <h1></h1>
        <button class="gradient-btn">
            <i class="fa fa-arrow-right"></i> Let's start here with a free estimate
        </button>
    </div>
</div>
