---
layout: layouts/base.njk
section: home
permalink: /
---

<div class="hero">
    <div class="overlay"></div>
    <div class="content">
        <h3>We do it the right way</h3>
        <h1>Great services at an <a href="/contact/">affordable price</a></h1>
        <button class="gradient-btn">
            <i class="fa fa-arrow-right"></i> Let's start here with a free estimate
        </button>
    </div>
</div>
<div class="services">
    {% for service in menus[3].children %}
        <a href="{{service.route}}">
            <img src="{{service.icon}}" alt="{{servie.name}} icon" />
            <h3>{{service.name}}</h3>
            <p>{{service.description}}</p>
        </a>
    {% endfor %}
</div>
<div class="testimonials-contact">
    <div class="testimonials-section">
        <h6>What makes us truly great?</h6>
        <h3>Clients always say <br /><strong>the truth about us!</strong></h3>
        {% include "components/testimonials.njk" %}
    </div>
    <div class="contact-section">
        <h3>Got a project in mind? <br /><strong>Get a free estimate!</strong></h3>
        <p>Send us as many details as possible, so our estimate can be more accurate.</p>
        {% include "components/form.njk" %}
    </div>
</div>
