---
layout: layouts/base.njk
section: page
---
{% from "components/pagetitle.njk" import pageTitle %}
{{pageTitle(title)}}

<div class="page" id="content">
    <div class="sider">
        {% for service in menus[2].children %}
            <a href="{{service.route}}" {% if service.route == page.url %} class="active" {% endif %} aria-label="Read all there is to know about {{ service.name }}">
                <img src="{{service.icon}}" />
                {{service.name}}
            </a>
        {% endfor %}
    </div>
    <div class="body">
        {% if image %}
        {% img image | replace("/static", "./static"), "page-image", "page head", "", [1080] %}
        {% endif %}
        {{ layoutContent | safe }}
    </div>
</div>
