---
layout: layouts/base.njk
section: page
---
{% from "components/pagetitle.njk" import pageTitle %}
{{pageTitle(title)}}

<div class="page">
    <div class="sider">
        {% for service in menus[3].children %}
            <a href="{{service.route}}" {% if service.route == page.url %} class="active" {% endif %}>
                {{service.name}}
            </a>
        {% endfor %}
    </div>
    <div class="body" id="content">
        <img src="{{image}}" />
        {{ layoutContent | safe }}
    </div>
</div>
