---
layout: layouts/base.njk
section: project
---

{% from "components/pagetitle.njk" import pageTitle %}

{{pageTitle(title)}}

<article id="single-project">

  {{ layoutContent | safe }}

  <div class="images">
    {% for image in images %}
      {% img image | replace("/static", "./static"), "page-image", "{{ project.title }}", "", [400], "animation-delay: {{ loop.index0 * 100 }}" %}
    {% endfor %}
  </div>
  
</article>
