---
layout: layouts/base.njk
section: project
---

{% from "components/pagetitle.njk" import pageTitle %}

{{pageTitle(title)}}

<article class="single-project" id="content">

  {{ layoutContent | safe }}

  <div class="images">
    {% for image in images %}
      {% if image %}
        {% img image | replace('/static', './static'), "page-image", "" + title + "", "(max-width: 414px) 800px, 600px", [300, 400], "animation-delay: " + loop.index0 * 100 + "ms" %}
      {% endif %}
    {% endfor %}
  </div>
  
</article>
