---
layout: layouts/base.njk
section: thank-you
permalink: /thank-you/
---

{% from "components/pagetitle.njk" import pageTitle %}

<div class="thank-you">
    <h1>Thank you for getting in touch!</h1>
    <h3>You'll get your first call within the next 24 hours.</h3>
    <h4>Get ready to receive the fastest, quality and affordable service.</h4>
</div>